.header{
    @include blockSize (100%, 100vh);
    background-image: url(../images/bridge.jpg);
    @include bgCoverCenter;
    @include flexCenter;
    flex-direction: column;
    &__nav{
        @include blockSize (80%, 70px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $mainFontFamily;
        &__logo{
            @include logoTop;
        }
        &__button{
            @include fontChange($mainColor, 14px, 700);
            &__login{
                color: $mainColor;
                padding: 0 6px;
            }
            &__singup{
                @include buttonMain;
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }
    &__tittle{
        @include blockSize (80%, calc(100vh - 70px));
        @include flexCenter;
        flex-direction: column;
        text-align: center;
        &__top{
            @include textTittleHeader;
        }
        &__second{
            font-family: $secondFontFamily;
            @include fontChange(#F7F3F2, 22px, 300);
            padding: 30px;
        }
        &__button{
            font-family: $mainFontFamily;
            @include buttonMain;
            @include fontChange($mainColor, 14px, 700);
        }
    }
}